<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-2.0.xsd">
	<context:property-placeholder location="classpath:config/rabbitmq.properties" />
	<!-- 1、如果要想进行RabbiMQ的操作管理，则首先一定要准备出一个连接工厂类 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${mq.rabbit.host}" port="${mq.rabbit.port}" username="${mq.rabbit.username}"
		password="${mq.rabbit.password}" virtual-host="${mq.rabbit.vhost}" />
	<!-- 2、所有的连接工厂要求被RabbitMQ所管理 -->
	<rabbit:admin connection-factory="connectionFactory" />
	<!-- 3、创建一个队列信息 -->
	<rabbit:queue id="myQueue" durable="true" auto-delete="true"
		exclusive="false" name="${mq.rabbit.queue}" />
	<!-- 4、下面实现一个直连的操作模式 -->
	<rabbit:direct-exchange id="mq-direct"
		name="${mq.rabbit.exchange}" durable="true" auto-delete="true">
		<rabbit:bindings>
			<!-- 现在要求绑定到指定的队列之中 -->
			<rabbit:binding queue="myQueue" key="${mq.rabbit.routing.key}" />
		</rabbit:bindings>
	</rabbit:direct-exchange>
	<!-- 5、定义消息监听程序的定义 -->
	<bean id="messageListener" class="cn.mldn.listener.MessageConsumerListener"/>
	<!-- 6、配置消息监听 -->
	<rabbit:listener-container connection-factory="connectionFactory">
		<rabbit:listener ref="messageListener" queues="myQueue"/>
	</rabbit:listener-container>
	
</beans>
